.aside {
  width: 100%;
}

.img-aside {
  @extend .aside;
  object-fit: cover;
  height: 200px;

  @include for-breakpoint(md) {
    width: 50%;
    height: 700px;
  }
}

.content-aside {
    @extend .aside;
  
    @include for-breakpoint(md) {
      width: 50%;
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
  
      li {
        padding: 10px;

        a {
            color: white;
            text-decoration: none;
        }
      }
    }
  }

  .img-about {
    height: 200px;
    object-fit: cover;
  
    @include for-breakpoint(md) {
      height: 600px;
      padding: 25px;
    }
  }

  .img-min-gallery {
    aspect-ratio: 1/1;
    width: 100%;
  }