@import 'mixins';
@import 'header';
@import 'footer';
@import 'layout';
@import 'product';

body {
  margin: 0;
  background-color: #333333;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
}
